* {
    outline: 1px solid red;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.template {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: auto;
  opacity: .5;
}

body {
  min-width: 1000px;
}

header {
  background-color: #eeeeee;
  padding: 20px 0 30px;
}

.container {
  width: 1000px;
  margin: 0 auto;
  font-size: 0;
  padding-left: 10px;
}

h1 {
  display: inline-block;
  vertical-align: middle;
}

h1 a {
  display: inline-block;
}

h1 img {
  width: 85px;
  cursor: pointer;
}

nav {
  display: inline-block;
  vertical-align: middle;
  margin-left: 100px;
}

nav a {
  padding: 10px;
  font-size: 17px;
  color: rgb(99, 99, 99);
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

nav a:hover {
  color: orange;
}

nav a + a {
  margin-left: 90px;
}

section {
  background-color: #fdfdfd;
  padding: 40px 0 100px;
}

.full-box {
  width: 850px;
  font-size: 0px;
  margin: 0px auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.full-box-section {
  display: inline-block;
  max-width: 50%;
  font-size: 16px;
  vertical-align: top;
}

h2 {
  color: #3e3e3e;
  font-size: 65px;
  line-height: 70px;
  font-weight: normal;
}

h3 {  
  color: #3e3e3e;
  font-size: 35px;
  line-height: 43px;
  margin-bottom: 20px;
  font-weight: normal
}

.full-box-section-text {
  margin-bottom: 20px;
}

.button-box {
  width: 280px;
  margin: 0 auto;
}

.button-box a {
  text-decoration: none;
  cursor: pointer;
}


.button-box button:hover {
  color: rgb(255, 228, 77);
}

button {
  font-size: 25px;
  color: white;
  display: block;
  background: linear-gradient(#FFB951 50% ,#FA9400 50%);
  border-radius: 5px;
  border: 0;
  padding: 16px 67px;
  margin-bottom: 5px;
  cursor: pointer;
}

.try-it-text {
  font-size: 5px;
  color: #585858;
}

.full-box-img-box {
  width: 50%;
  display: inline-block;
}

.full-box-img-box img {
  margin-left: auto;
  display: block;
}

article {
  margin: 0 auto;
  padding: 50px 0px 100px;
  width: 880px;
}

.content-box {
  columns: 2;
  column-gap: 50px;
  font-size: 17px;
  color: #6e6e6e;
}

.content-box p {
  margin-bottom: 30px;
}

footer {
  padding: 20px 0 30px;
  background-color: #eeeeee;
  border-top: 1px solid #dcdcdc;
}

.footer-content {
  width: 880px;
  margin: 0 auto;
}

footer span {
  font-size: 8px;
}

.footer-icon {
  font-size: 0px;
  float: right;
}

.footer-icon a {
  display: inline-block;
}

.footer-icon a + a {
  margin-left: 25px;
}

.footer-icon i {
  font-size: 25px;
  color: black;
  cursor: pointer;
}

.footer-icon i:hover {
  color: orange;
}
